:root {
    --background: #bcbcbc;
    --tile: #bcbcbc;
    --tileHover: #c6c6c6;
    --tileBorder: #ccc;
    --text: #222;
    --v1: #1a1cc2;
    --v2: #227223;
    --v3: #ff0000;
    --v4: #0e0665;
    --v5: #820203;
    --v6: #008284;
    --v7: #010101;
    --v8: #838383;
}
