:root {
  --background: hsl(0, 0%, 95%);
  --tile: hsl(0, 0%, 90%);
  --tileHover: hsl(0, 0%, 80%);
  --tileBorder: hsl(0, 0%, 90%);
  --text: #222;
  --v1: mediumblue;
  --v2: forestgreen;
  --v3: gold;
  --v4: crimson;
  --v5: darkorange;
  --v6: magenta;
  --v7: deeppink;
  --v8: dimgrey;
}
